.products {
  width: 100%;
  height: 100%;
  background: green;
}
.cart {
  width: 100%;
  height: 100%;
  background: red;
}
.duties {
  width: 100%;
  height: 100%;
  background: blue;
}

.table {
}
